
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div class="row">
    <div class="jumbotron col-md-12">
        <div class="row">
            <img src="~/Content/Images/spopoiu131_fanu01.png" class="col-md-offset-3 col-md-6 col-md-offset-3" />
        </div>
        <p>The Best Library ever</p>
    </div>
</div>